<div class="welcome-page">
  <img
    class="welcome-page__logo"
    src="../../../assets/icons/redberry.svg"
    alt=""
  />
  <img
    class="welcome-page__image--large"
    src="../../../assets/icons/PCfy.svg"
    alt=""
  />
  <img
    class="welcome-page__image--small"
    src="../../../assets/icons/PCfy-s.svg"
    alt=""
  />

  <button
    (click)="route.navigate(['/Dash/registration-form'])"
    class="btn btn-primary welcome-page__button"
  >
    ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ
  </button>
  <button
    (click)="route.navigate(['/Dash/list'])"
    type="submit"
    class="btn btn-primary welcome-page__button button-2"
  >
    ᲩᲐᲜᲐᲬᲔᲠᲔᲑᲘᲡ ᲡᲘᲐ
  </button>
</div>
