.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  &__logo {
    position: absolute;
    width: 112px;
    height: 18px;
    left: calc(50%);
    transform: translateX(-50%);
    top: 79px;
  }
  &__image {
    &--large {
      position: absolute;
      width: 781px;
      height: 482px;
      left: calc(50% + 20px);
      top: 182px;
      transform: translateX(-50%);
      display: inline-block;
    }
    &--small {
      position: absolute;
      left: calc(50%);
      transform: translateX(-50%);
      top: 202px;
      display: none;
    }
  }
  &__button {
    position: absolute;
    width: 387px;
    height: 60px;
    left: calc(50% - 0.5px);
    transform: translateX(-50%);
    top: 786px;

    padding-top: 12px;

    &.button-2 {
      top: 871px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .welcome-page {
    &__logo {
      top: 68px;
    }
    &__image {
      &--large {
        display: none;
      }
      &--small {
        display: inline-block;
      }
    }
    &__button {
      width: 358px;
      top: 673px;
      &.button-2 {
        top: 749px;
      }
    }
  }
}
