.user-form {
  padding-top: 26px;
  position: relative;
  padding-bottom: 102px;
  .row {
    &:nth-child(2) {
      margin-bottom: 55px;
    }
    &:nth-child(4) {
      margin-bottom: 48.2px;
    }
  }
}

.submit-btn {
  width: 176px;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.small-screen {
  display: none;
}

label {
  height: 21px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02rem;
}

@media only screen and (max-width: 1024px) {
  .user-form {
    padding-bottom: 73px;
    .row {
      & > * {
        margin-bottom: 23px;
      }
      margin-bottom: 0;
      &:nth-child(2) {
        margin-bottom: 25px;
      }
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }

  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }
  .submit-btn {
    width: 132px;
    height: 46px;
    bottom: 6px;
    font-size: 18px;
  }
}
