$black: #000000;
$black-700: #232323;
$white: #ffffff;
$light-gray: rgba(0, 0, 0, 0.6);

$main-bg: #f6f6f6;
$btn-blue-regular: #317ad0;
$btn-blue-light: #62a1eb;
$btn-blue-dark: #1a5dab;
$blue-300: #eafaff;
$blue-400: #8ac0e2;
$blue-700: #4386a9;

$input-invalid: #e52f2f;
$input-disabled-br: #e9e9e9;

$radio-default: #4d9ac3;

$select-bg: #ebebeb;
$select-option-bg: #e7f0f8;

$back-button-bg: #d9d9d9;
