label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.employee-registration-form {
  padding-top: 28px;
  position: relative;
  padding-bottom: 100px;
}

.submit-btn {
  width: 176px;
  position: absolute;
  bottom: -2px;
  right: 0;
}
