<div class="registration-form">
  <div class="registration-form__stepper">
    <a
      class="registration-form__trigger employee-trigger"
      [routerLink]="['employee']"
      routerLinkActive="registration-form__trigger--active"
      >თანამშრომლის ინფო</a
    >
    <div class="registration-form__page small-screen">1/2</div>

    <a
      class="registration-form__trigger pc-trigger"
      [routerLink]="['pc']"
      routerLinkActive="registration-form__trigger--active"
      >ლეპტოპის მახასიათებლები</a
    >
    <div class="registration-form__page small-screen">2/2</div>
  </div>

  <div class="registration-form__container">
    <router-outlet></router-outlet>
  </div>

  <img
    class="redberry-logo"
    src="../../../assets/icons/redberry-logo.svg"
    alt=""
  />
</div>
